# Virtual environment
venv/

# Data (fichiers volumineux)
data/*.csv
data/*.zip
data/processed/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Models (trop lourds pour git)
#results/model/*.pkl
#results/model/*.joblib

# OS
.DS_Store
.DS_Store?

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
